{% extends "index.html" %}
{% block title %} {{ category }}s {% endblock %}
{% set summarise = True %}

{% import 'partial/helper.html' as helper %}
{% block page_header %}
<article>
    <header>
        <h2><i class="{{ helper.fa_category(category) }}"></i> {{ category }}s</h2>
        {% block subcategory %}
        <h3>
            {% set sub = [] %}
            {% for article in articles %}
              {% for subcategory in article.subcategories %}
                {% if not subcategory in sub %}
                  {% set t = sub.append(subcategory) %}
                {% endif %}
              {% endfor %}
            {% endfor %}
            {% for s in sub|sort %}
              <span><a href="{{ SITEURL }}/{{ s.url }}">{{ s.shortname }}</a> {% if not loop.last %} &#8226; {% endif %}</span>
            {% endfor %}
        </h3>
        {% endblock %}
    </header>
</article>
{% endblock %}