{% extends "base.html" %}

{% block title %}Labels{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1 id="tags">Par labels:</h1>
  </header>
  <div>
    <ul class="list">
      {% set previous_tag = {'tag': False} %}
      {%- for tag, articles in tags|sort %}
        {% if tag.name|first != previous_tag.tag %}
        <p>{{ tag.name|first|upper }}</p>
        {% endif %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>

          {% set test = previous_tag.update({'tag': tag.name|first}) %}
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
