aside nav ul li {
    font-size: 1em;
}

hr {
    margin-bottom: 0px;
}

.index-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    max-width: 300px;
    max-height: 200px;
}

.image-container {
    position: relative;
    text-align: center;
    max-width: 300px;
    max-height: 200px;
}

.image-summary {
    position: absolute;
    width: 100%;
    bottom: 8px;
    background-color: #00000060;
    color: white;
    line-height: 1em;
}
a.image-link {
    color: white;
}


span.pagination-current, a.pagination-other {
    padding: 0.2em 0.6em 0.2em 0.6em;
}

span.pagination-current {
    background-color: black;
    border-radius: 50%;
    color: white;
}

.checked {
    color: #ff5a09;
}

p.tag-letter {
    margin: 20px 0px -22px -23px;
    font-size: 1.2em;
}

@media (min-width: 576px) {
    ul.list-cols {
        columns: 3;
    }
}
@media (min-width: 1200px) {
    ul.list-cols {
        columns: 4;
    }
}
@media (max-width: 576px) {
    ul.list-cols {
        columns: 2;
    }
}