{% extends "base.html" %}

{% block title %}
  Auteurs {{ super() }}
{% endblock %}

{% block page_header %}
  Par auteur:
{% endblock %}

{% block content %}
  <table class="table table-striped">
    {% for author, articles in authors|sort %}
      <tr>
        <td style="width:8px"><a href="{{ SITEURL }}/{{ author.url }}"><i class="fas fa-user"></i></a></td>
        <td><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></td>
        <td><span class="badge badge-dark badge-pill">{{ articles|count }}</span></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
