{% extends "base.html" %}

{% block title %}
  Catégories {{ super() }}
{% endblock %}

{% block page_header %}
  Par catégories:
{% endblock %}
{% import 'helper.html' as helper %}
{% block content %}
  <table class="table table-striped">
    {% for category, articles in categories|sort %}
      <tr>
        <td style="width:8px"><a href="{{ SITEURL }}/{{ category.url }}"><i class="{{ helper.fa_category(category) }}"></i></a></td>
        <td><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}s</a></td>
        <td><span class="badge badge-dark badge-pill">{{ articles|count }}</span></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
